*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Overpass", sans-serif;
  scroll-behavior: smooth;
}

.section-6 {
  padding: 1rem;
}
.date {
  font-size: 0.8rem;
  color: #808080; /* gray*/
  margin-bottom: 0.5rem;
}

.header-6 {
  margin-bottom: 1.5rem;
}
.margin {
  margin-top: 1rem;
}
.gray {
  color: #808080; /* gray*/
}
header h3 {
  text-align: center;
  color: #ff0000;
}

article {
  text-align: justify;
}

@media only screen and (width <= 800px) {
  .section-6 {
    padding: .5rem;
  }
  body {
    font-size: 13px;
  }
}