/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/* background -> header, body, footer*/
/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --background: #050c2c;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  --primary-blue: hsl(198, 92%, 59%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsla(182, 63%, 54%);
  --clr-black: hsl(0, 0%, 13%);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --fast-transition: all 0.2s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.1);
  --dark-shadow: 0 5px 15px hsla(0, 0%, 0%, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
  /* scroll-margin-top: 20rem; */
}
/*
  Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  /* background: var(--clr-grey-10); */
  background: var(--background);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  scroll-behavior: smooth;
  animation: transitionIn 0.75s;
}
@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: rotateY(0);
  }
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
  letter-spacing: 0.6px;
  word-spacing: 0.2rem;
}
p {
  margin-bottom: 1rem;
  color: var(--clr-grey-5);
  word-spacing: 2pt;
  text-align: justify;
}

@media screen and (width >= 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
/* .btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
} */
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
/* .btn:hover {
  background: var(--clr-white);
  color: var(--clr-grey-3);
} */
.explore-btn {
  position: relative;
  display: inline-block;
  margin: 0.9rem;
  padding: 0.9rem 1.8rem;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725ac1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid var(--primary-blue);
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 var(--primary-blue);
  text-transform: capitalize;
}
.explore-btn a {
  color: #ffffff;
}
.explore-btn:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 var(--primary-blue);
}

.explore-btn:active {
  transform: scale(0.9);
}
@media screen and (width < 800px) {
  .explore-btn {
    margin: 0.5rem;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
  }
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (width >= 992px) {
  /* width >= 992px */
  .section-center {
    width: 95vw;
  }
  /* section */
  .section {
    padding-bottom: 5rem;
    /* scroll-margin-top: 15rem; */
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
Scroll
===============
*/
/* navbar */
nav {
  /* background: var(--clr-white); */
  background: #151118c3;
  padding: 1rem 1.5rem;
  z-index: 10;
}
@media screen and (width < 800px) {
  nav {
    padding: 0.3rem 0.8rem;
    box-shadow: var(--light-shadow);
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: #151118c3;
  }
  .fixed-nav {
    border-bottom: 0.1px solid rgba(54, 147, 247, 0.496);
  }
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* background: #141638; */
  /* background: #001f54; */
  box-shadow: var(--light-shadow);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: #151118c3;
  /* background-color: #2b2a33cb; */
  /* background-color: rgba(255, 255, 255, 0.284); */
}
.fixed-nav .links a {
  color: var(--clr-white);
}
/* .fixed-nav .links a:hover {

} */
/* .fixed-nav .links-container {
  height: auto !important;
} */

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-white);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  /* -webkit-transition: all ease 0.5s; */
  /* -moz-transition: all ease 0.5s; */
  /* transition: all ease 0.5s; */
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-grey-8);
}
.logo {
  height: 2.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: auto;
}
.links a {
  /* background: var(--clr-white); */
  color: var(--clr-white);
  font-size: 1rem;
  text-transform: capitalize;
  /* letter-spacing: var(--spacing); */
  display: block;
  transition: var(--transition);

  font-weight: 600;
  padding-top: 0.5rem;
}
/* .links a:hover {
} */

@media screen and (width >= 800px) {
  /* width >= 800px */
  nav {
    background: transparent;
  }
  .section {
    margin-bottom: 8rem;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links li:hover {
    background: #75777923;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    /* letter-spacing: var(--spacing); */
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: 500;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
    border-bottom: 0.1px solid var(--primary-blue);
  }
}
/* hero */
header {
  height: auto;
  /* background: linear-gradient(rgba(63, 177, 212, 0.5), rgba(0, 0, 0, 0.7)),
    url(./hero-bcg.jpeg) center/cover no-repeat fixed; */
  background: radial-gradient(#0000, #001200),
    linear-gradient(300.54deg, #00069f 0%, #120010 92.37%),
    linear-gradient(58.72deg, #00b3d2 0%, #560097 100%);
  /* background-blend-mode: screen, color-dodge, color-burn, screen, overlay, difference, color-dodge, normal; */
}
.banner {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
}
#home {
  height: auto;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.animated-text {
  color: var(--clr-white);
  line-height: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.animated-text img {
  width: 8rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}

.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
  padding: 0 0.8rem;
  text-align: center;
  letter-spacing: 0.5px;
}
@media screen and (width < 780px) {
  .banner {
    margin-top: 1.5rem;
  }
  .home-image {
    margin: auto;
    width: 90vw;
  }
  .home-image img {
    margin-top: 2rem;
  }
}
@media screen and (width >= 780px) {
  header {
    min-height: 100vh;
  }
  .container p {
    max-width: 40rem;
  }
  .animated-text img {
    width: 30rem;
    height: 4rem;
  }
  .banner {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .home-image {
    width: 50vw;
  }
  .home-image img {
    margin: auto;
    width: 80%;
    max-height: 37rem;
  }
}

/* sections and title */
.title h2 {
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--clr-white);
}
.title span {
  /* color: var(--clr-secondary); */
  color: var(--primary-blue);
}
section {
  height: auto;
}
/* #services {
  background: radial-gradient(#0000, #001200),
  linear-gradient(300.54deg, #00069f 0%, #120010 92.37%),
  linear-gradient(58.72deg, #00b3d2 0%, #560097 100%);
} */
/* section {
  background: radial-gradient(#0000, #001200),
  linear-gradient(300.54deg, #00069f 0%, #120010 92.37%),
  linear-gradient(58.72deg, #00b3d2 0%, #560097 100%);
} */
body {
  background: radial-gradient(#0000, #001200),
    linear-gradient(300.54deg, #00069f 0%, #120010 92.37%),
    linear-gradient(58.72deg, #00b3d2 0%, #560097 100%);
}

footer {
  background: #020515;
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--primary-blue);
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  /* animation: bounce 2s ease-in-out infinite; */

  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* about  */
.about-center {
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
  height: auto;
}
.about-main {
  flex: 1;
  padding: 0.5rem 1.5rem;
  text-align: center;
  transition: var(--transition);
}
.about-main h3,h4 {
  color: var(--clr-grey-9);
}
.about-main div {
  font-size: 3rem;
  color: var(--clr-grey-9);
}
.about-main p {
  text-align: center;
}
.about-main:hover {
  transform: translateY(-0.6rem);
}
.about-main div i:hover {
  transition: var(--fast-transition);
  color: var(--primary-blue);
}
@media screen and (width >= 780px) {
  .about-center {
    flex-direction: row;
    margin-top: 5rem;
    gap: 2rem;
    width: 85vw;
  }
  /* about */
  .about-main {
    padding: 1rem;
    height: auto;
    /* height: 10rem; */
    /* width: 10rem; */
  }
  .about-main div {
    font-size: 4rem;
  }
  .top-link {
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
  }
}

/* Services  */
.service-center article:hover{
  background: rgba(128, 128, 128, 0.242);
}
.service-center article div:hover {
  color: var(--primary-blue);
}


/* Projects  */
.project-center {
  margin: auto;
  display: grid;
  gap: 1.5rem 0.7rem;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.project-main {
  margin: auto;
  text-align: center;
  /* height: 9rem; */
}
.project-main div {
  margin: auto;
  height: 5rem;
  width: 10rem;
  object-fit: cover;
}
.project-main img {
  margin: auto;
  width: 100%;
  /* max-width: 9rem; */
  height: 100%;
  object-fit: cover;
  /* height: auto; */
  overflow: hidden;
  /* margin-bottom: 0.5rem; */
}
.project-main img:last-child {
  object-fit: cover;
  object-position: top center;
}
.project-main h4 {
  margin-top: 0.5rem;
}
.project-main div a{
  display: none;
}
@media screen and (width >= 780px) {
  .project-center {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    gap: 5rem 3rem;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .project-main {
    height: 12rem;
    width: 20rem;
  }
  .project-main div {
    height: 10rem;
    width: 20rem;
    object-fit: cover;
  }
  .project-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}

.show-project div {
  display: grid;
  place-items: center;
  transition: var(--transition);
  background: rgba(0, 195, 255, 0.4);
}
.show-project div img {
  transition: var(--fast-transition);
  z-index: -10;
  /* background: rgba(99, 177, 234, 0.5); */
}
.show-project div img:hover {
  /* background-blend-mode: screen; */
  transition: var(--fast-transition);
  overflow: hidden;
}
.show-project div a {
  display: block;
  border: 0.1rem solid var(--clr-white);
  padding: 0.4rem;
  border-radius: 50%;
  color: var(--clr-white);
  position: absolute;
  z-index: 5;
}
.show-project div a:hover {
  color: var(--clr-grey-1);
  background: var(--clr-white);
  transition: var(--fast-transition);
}


/* Team  / Contact*/
.team-center {
  margin: auto;
  display: grid;
  gap: 1rem 0.7rem;
  grid-template-columns: 1fr 1fr;
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
}
.team-main {
  margin-top: 2rem;
  text-align: center;
  max-height: 20rem;
}
.team-main div {
  margin: auto;
  height: 9rem;
  width: 9rem;
  object-fit: cover;
}
.team-main h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.team-main p {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
.team-main img {
  margin: auto;
  width: 100%;
  /* max-width: 9rem; */
  height: 100%;
  object-fit: cover;
  /* height: auto; */
  overflow: hidden;
  /* margin-bottom: 0.5rem; */
}
.team-main img:last-child {
  object-fit: cover;
  object-position: top center;
}
.social-main {
  display: flex;
  margin: auto;
  justify-content: center;
  gap: 0.5rem;
}
.social-main li {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  color: var(--primary-blue);
}


@media screen and (width >= 660px) {
  .team-center {
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    gap: 5rem 3rem;
    width: 85vw;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: center;
  }
  .team-main {
    height: 20rem;
    width: 20rem; 
  }
  .team-main div {
    height: 13rem;
    width: 13rem;
    object-fit: cover;
  }
  .team-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
  .team-main img:hover {
    transition: var(--fast-transition);
    box-shadow: 0px 0px 0px 1px hsl(210, 64%, 71%);
  }
  .social-main {
    gap: 0.6rem;
  }
  .social-main li {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  .social-main li:hover {
    transition: var(--fast-transition);
    background: hsl(198, 100%, 25%);
    color: var(--clr-white);
  }
}
@media screen and (width >= 990px)  {
  .team-main div {
    height: 15rem;
    width: 15rem;
    object-fit: cover;
  }
}

