*, 
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-color: #1d2a35; */
}
.bg-color {
    background-color: #1d2a35;
}

.canvas-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid #000000;
    overflow: scroll;
}

header {
    height: 4rem;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    /* background-color: #141f29; */
    border: 1px solid black;
}
header label {
    display: flex;
    align-items: center;
}
input[type="range"] {
    max-width: 6rem;
}
input[type="color"]  {
    max-width: 2rem;
    max-height: 1.5rem;
    padding: 0.1rem;
}