*,*::after,*::before {
  box-sizing: border-box;
}
body {
  font-family: "Overpass", sans-serif;
}
.space {
  height: 0.5rem;
}
.heading {
 color: gray;
 padding-right: 1rem;
}
.horizontal-line {
  margin: 1rem 0;
  border-bottom: 2px solid white;  
}
br {
  display: block;
  margin-bottom: 0.2rem;
}
.header9 {
  display: flex;
}

.row {
  display: flex;
  height: auto;
}

.header9 p {
  margin-top: 0;
  text-align: center;
  color: pink;
  font-size: 25px;
}

.header9 div {
  text-align: center;
  font-size: 20px;
  color: rgba(31, 29, 29, 0.729);
  margin-bottom: 1rem;
}

.p1 {
  text-align: center;
  font-size: 20px;
  color: white;
}

.heading1 {
  text-align: center;
  font-size: 20px;
  color: white;
}


/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 50px;
  height: auto;
  /* Should be removed. Only for demonstration */
  text-align: left;
  color: white;
  font-weight: 500;
  line-height: 1.5;
}

.row {
  height: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  text-align: left;
}

.head1 {
  text-align: center;
  color: black;
  size: 100px;
}

.head2 {
  text-align: center;
  color: black;
  size: 25px;
}

.para1 {
  text-align: left;
  color: white;
  font-size: 0.7rem;
  height: auto;
}

.para2 {
  text-align: left;
  color: white;
  font-size: 10px;
}

.head4 {
  text-align: center;
  color: black;
  size: 25px;
}

.button {
  border: darkblue;
  color: black;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  font-size: 10px;
}
.head5 {
  text-align: center;
  color: black;
  size: 1.5rem;
  margin: 2rem 0;
}
.header9 img {
  display: block;
  width:4rem;
  height:4rem;
}

.images img {
  width: 10rem;
  height: 10rem;
}

.images {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

@media only screen and (width <= 960px)  {

  .header9 {
    font-size: 14px;
    text-align: justify;
  }
  .heading {
    font-size: 0.8rem;
  }
  .header9 img {
    width:2.5rem;
    height:2.5rem;
  }
  .header9 p{
    font-size: 1rem;
  }
  .button {
    font-size: 8px;
  }
  .column {
    width: 100%;
    padding: 0.5rem;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .images img {
    max-width: 5rem;
    max-height: 5rem;
  }

  .images {
    margin: auto;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
    justify-content: center;
  }
}
