*,
*::after,
*::before {
    box-sizing: border-box;
    max-width: 100%;
    /* overflow-x: hidden; */
}

html {
    font-family: 'Karla', sans-serif;
    color: white;
}

body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

nav {
    display: flex;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    gap: 1rem;
    align-self: center;
}
.logo{
    font-size: clamp(1rem, calc(5vw + 1rem), 2.5rem);
    font-weight: bold;
}

.logo span {
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    padding: .5rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
}
nav li:not(:last-child) a:hover {
    border-bottom: 1px solid #ffffff;
}

nav li:last-child {
    color: cyan;
    background: #00c2ff;
}
nav li:last-child:hover {
    background: #53cff5;;
}

header {
    background-image: url(./car-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
    background-position:center center;
}

header .content {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

header .content> *+*{
    margin-top: 1rem;
}

header .content h1{
    font-size: clamp(2rem, calc(5vw + 1rem), 5rem);
    margin: 0;
}

header .content button {
    background: #00c2ff;
    border: 0;
    color: white;
    font-size: clamp(1rem, calc(5vw - 1rem), 1.5rem);;
    padding: 0.5rem 1rem;
}
header .content button:hover {
    background: #53cff5;;
}

footer {
    display: flex;
    height: auto;
    background-color: rgb(12, 12, 28);
    justify-content: center;
}
footer ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    width: 100%;
    justify-content: space-around;
}
footer ul li strong {
    color:#00c2ff;
}

footer p {
    margin-top: 0.3rem;
}

.menu-btn {
    display: none;
    font-size: 1.5rem;
}
.show-menu {
    display: block;
}


@media screen and (max-width: 700px) {
    html {
        font-size: 15px;
    }
    nav {
        margin: 1rem;
        width: 95vw;
        height: auto;
    }
    nav ul{
        margin: 0;
        display: none;
    }

    .nav-list {
        position: absolute;
        top: 3rem;
        right: 0.3rem;
        background: rgba(56, 57, 64, 0.571);
        backdrop-filter: blur(3px); /* blur */
        border-radius: 0.5rem;
        padding: 0.3rem;
    }

    .menu-btn {
        display: block;
    }
    
    .nav-list {
    position: absolute;
}
    nav ul>li:last-child{
        display: none;
    }

    nav ul ,footer ul{
        flex-direction: column;
    }

    /* footer ul> *+*{
        margin-top: 1rem;
    } */

    footer li{
        text-align: center;
    }
}